<div class="container-fluid">
  
    <div class="main-content">  
      
        <div class="row list-group-item " >
          <div class="col-sm-2"  ><a href="#" (click)="onBankSelected(bank.bName)" >{{'10'+bank.index}}</a></div>    
          <div class="col-sm-2"><p class="list-group-item-text">{{ bank.bName }}</p></div>
          <div class="col-sm-2"><p class="list-group-item-text">{{ bank.lastName }}</p></div>
          
        
      </div>
  <!-- Col Div to show selected Links details-->
      
     
</div>
 
</div>
